/* Feel free change any of these styles. */
/* The font imported below is the same used in the Figma mockup. */
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap");

html {
  background: #2d3239;
  color: #f9fafb;
  font-family: "Cabin", sans-serif;
}

